.spin
  $border-radius = 20px

  background-image linear-gradient(30deg, #f35241, #ffe512)
  background-size 160% auto
  background-position-x 0%
  border-radius $border-radius
  border none
  color black
  cursor pointer
  font-size 30px
  font-weight 700
  line-height 1
  outline none
  padding .5em 1.4em
  text-transform uppercase
  transition background-position .5s ease-out

  span
    position relative
    z-index 1

  &:hover
    background-position-x 60%

  &[disabled]
    cursor not-allowed
    opacity .8

    &:hover
      background-position-x 0%
